replicaCount: 3

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: "1.25.1"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  hosts:
    - host: chart-example.local
      paths: [/]

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
