apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-api
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-api
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-api
    spec:
      containers:
        - name: api
          image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag }}"
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: "{{ .Release.Name }}-postgres"
            - name: REDIS_HOST
              value: "{{ .Release.Name }}-redis"
            - name: RABBITMQ_URL
              value: "amqp://user:password@{{ .Release.Name }}-rabbitmq:5672"
