apiVersion: v1
kind: Service
metadata:
  name: guestbook-frontend
  labels:
    app: guestbook
    component: frontend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: guestbook
    component: frontend
---
apiVersion: v1
kind: Service
metadata:
  name: guestbook-redis-master
  labels:
    app: guestbook
    component: redis
    role: master
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: guestbook
    component: redis
    role: master
---
apiVersion: v1
kind: Service
metadata:
  name: guestbook-redis-replica
  labels:
    app: guestbook
    component: redis
    role: replica
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: guestbook
    component: redis
    role: replica
