apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namespace: guestbook-prod

namePrefix: prod-

commonLabels:
  environment: prod

replicas:
  - name: guestbook-frontend
    count: 3
  - name: guestbook-redis-master
    count: 1
  - name: guestbook-redis-replica
    count: 3

resources:
  - hpa.yaml

patches:
  - target:
      kind: Deployment
      name: guestbook-frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 256Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
