apiVersion: v1
kind: Service
metadata:
  name: {{ include "common.fullname" . }}-headless
  labels:
    {{- include "common.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: {{ .Values.headlessService.port }}
      targetPort: tcp
      protocol: TCP
      name: tcp
  selector:
    {{- include "common.selectorLabels" . | nindent 4 }}
