# 12-cloud-deployments/gcp/gke-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-gke
spec:
  replicas: 3
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: gcr.io/my-project/myapp:latest
        ports:
        - containerPort: 8000
