apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

namespace: guestbook-dev

namePrefix: dev-

commonLabels:
  environment: dev

replicas:
  - name: guestbook-frontend
    count: 1
  - name: guestbook-redis-master
    count: 1
  - name: guestbook-redis-replica
    count: 1

patches:
  - target:
      kind: Deployment
      name: guestbook-frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 64Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 100m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 128Mi
